 @model IEnumerable<Member>

<div class="member-list">
    @foreach (var member in Model)
    {
        <div class="member-card">
            <img src="@(string.IsNullOrWhiteSpace(member.ImageUrl) ? "/Images/Avatars/Avatar1.svg" : member.ImageUrl)" />

            <h3>@member.FirstName @member.LastName</h3>

            @* <span class="role">@member.Role ?? "Ingen roll angiven"</span> *@

            <p class="email">@member.Email</p>
            <p class="phone">@member.Phone</p>

            <button class="message-btn">Message</button>
        </div>
    }
</div>

<partial name="Partials/Sections/_AddMemberForm" model="new AddMemberForm()" />
<partial name="Partials/Sections/_EditMemberForm" model="new EditMemberForm()" />

