<div class="project-list">
    <table>
        <thead>
            <tr>
                <th class="project-check"><input type="checkbox" /></th>
                <th class="project-info">Project</th>
                <th class="project-location">Client</th>
                <th class="project-phone">Status</th>
                <th class="project-date">Start</th>
                <th class="project-status">End</th>
                <th class="project-actions"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var project in Model)
                {
                    <tr>
                        <td>
                            <div class="project-info">
                                <img class="project-image" src="@(string.IsNullOrWhiteSpace(project.Image) ? "/Images/Projecticon.svg" : project.Image)" />
                                <div class="project-name">@project.ProjectName</div>
                                <div class="project-desc">@project.Description</div>
                            </div>
                        </td>

                         <td>@project.Client?.Name</td> 
                         <td>@project.Status?.Name</td> 
                         <td>@project.StartDate.ToShortDateString()</td> 
                         <td>@project.EndDate?.ToShortDateString()</td> 

                        <td>
                            <i class="fa-regular fa-ellipsis" data-modal="true" data-target="#editProjectModal"></i>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>