
@model Projects

<div class="project-list">
    <table>
        <tbody>
            @if (Model != null)
            {
                
                    <tr class="card">
                        <td>
                            <div>

                                <img class="project-image" src="@(string.IsNullOrWhiteSpace(Model.Image) ? "/Images/Projecticon.svg" : Model.Image)" />
                                <div class="project-name">@Model.ProjectName</div>
                                <div class="project-desc">@Model.Description</div>
                            </div>
                        </td>


                         <td>@Model.Client</td> 
                         <td>@Model.Status</td> 
                         <td>@Model.StartDate.ToShortDateString()</td> 
                         <td>@Model.EndDate?.ToShortDateString()</td> 

                        <td>
                            <i class="fa-regular fa-ellipsis" data-modal="true" data-target="#editProjectModal"></i>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>